@import '../../styles/vars.scss';

header {
  position: sticky;
  top: 0;
  padding: 2.5rem 2rem;
  background-color: $color-secondary;
  box-shadow: 0 2.5rem 2.5rem -0.9rem rgba(83, 83, 109, 0.11);
  transition: all 0.5s ease;
  z-index: 10;
}

.header_scrolling {
  background-color: $color-accent-light;
  box-shadow: 0 2.5rem 2.5rem -0.9rem rgba(83, 83, 109, 0.3);
  padding: 1.5rem 0;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 119.2rem;
  padding: 0 2rem;
}

@media (max-width: 479px) {
  header {
    padding: 1.5rem 0 2rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
