@import '../../../styles/vars.scss';

.list {
  li {
    div {
      color: $color-black;
    }
  }
}

.head {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 500;
  opacity: 0.5;
  user-select: none;

  img {
    margin-right: 5px;
  }
}

.interface {
  margin-left: -5px;
}

@media (max-width: 1199px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head {
    justify-content: center;
  }
}
